# vscode config
.vscode
.idea

# python venv
bin
include
lib
pyvenv.cfg

__pycache__
*.pyc

cardpool
*config.py
.DS_Store

db/config-demo.py
lottery/configs/config-demo.py
bot/config-demo.py
modian/configs/ModianConfig-demo.py
.sonarlint
